* {
    box-sizing:border-box;
}

/* header styling */
.banner h1 {
    font-size: 2.5em;
}

.banner {
    background: url(images/header.jpg) center / cover no-repeat;
    text-align: center;
    color: white;
    padding: 100px 20px;
}

h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
    font-family: 'Times New Roman', Times, serif;
    text-shadow: 4px 4px 6px black;
}

/* button styling and functionability */
.static-content {
    text-align: center;
    padding: 40px 20px;
    background: white;
}

.static-content button {
    background: #e391f1;
    color: white;
    padding: 15px 30px;
    border: none;
    cursor: pointer;
    font-size: 1.2em;
    border-radius: 5px;
    margin-top: 20px;
}

.form-container .btn {
    background: #e391f1;
    color: white;
    padding: 10px;
    margin-top: 10px;
    border: none;
    cursor: pointer;
    font-size: 1em;
    border-radius: 5px;
}

/* * form styling and functionability */
.form-popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    width: 400px;
    z-index:3000;
}

.form-container {
    display: flex;
    flex-direction: column;
}

.form-container input {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input:not([type="image" i], [type="range" i], [type="checkbox" i], [type="radio" i]) {
    overflow: clip !important;
}

.form-container label {
    font-weight: bold;
    margin-top: 10px;
}

label {
    cursor: default;
}

div {
    display: block;
    unicode-bidi: isolate;
}

/* button styling and functionability */
button {
    appearance: auto;
    color: buttontext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    box-sizing: border-box;
    background-color: buttonface;
    margin: 0em;
    padding-block: 1px;
    padding-inline: 6px;
    border-width: 2px;
    border-style: outset;
    border-color: buttonborder;
    border-image: initial;
}

input {
    text-rendering: auto;
    color: fieldtext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    cursor: text;
    background-color: field;
    margin: 0em;
    padding: 1px 0px;
    border-width: 2px;
    border-style: inset;
    border-color: light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
    padding-block: 1px;
    padding-inline: 2px;
}

/* h2 styling */
h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}

/* paragraph styling */
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}

/* top artists section */
.top-artists {
    background-color: #eef2ff;
    padding: 40px 20px;
    text-align: center;
}

/* Top Artists container */
.artist-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    margin-bottom:15px;
}

.artist-container-2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    margin-bottom: 15px;
}

/* Grid item styling */
.container-item {
    position: relative; 
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 25%;
}

/* Image styling inside grid items */
.container-item img {
    width: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
    height: 250px;
}

/* Hover effect on grid images */
.container-item:hover img {
    transform: scale(1.05);
}

/* Overlay effect on hover */
.container-item-overlay {
    position: absolute; 
    top: 0; 
    left: 0; 
    height:100%;
    width:100%;
    background-color: rgba(0, 0, 0, 0.7); 
    color: white;
    display: flex;
    align-items: center; 
    justify-content: center; 
    text-align: center; 
    font-size: 20px;
    opacity: 0; 
    transition: opacity 0.3s ease;
}

/* Show overlay on hover */
.container-item:hover .container-item-overlay {
    opacity: 1;
}

/* top songs section */
.top-songs {
    text-align: center;
    padding: 40px 20px;
    background: white;
}

.songs-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 50px;
    gap: 15px;
}

/* top songs images styling */
.top-songs img {
    width: 200px;
    height: 200px;
    border-radius: 10px;
}

.song {
    flex: 1 1;
}

/* top albums section */
.top-albums {
    text-align: center;
    padding: 40px 20px;
    background-color:#eef2ff;
}

table, th, td {
    border: 1px solid black;
}

.album-tables {
    display: flex;
    flex-wrap:wrap;
    flex: 1 1;
    justify-content: center;
    gap: 15px;
    margin-bottom: 40px;
}

.top-albums {
    text-align: center;
    padding: 40px 20px;
    background-color:#eef2ff;
}

/* top genres section*/
.genres {
    padding: 40px 20px;
    background: #ffffff;
    text-align: center;
}

/* grid styling */
.genres-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto auto;
    gap: 15px;
    max-width: 1200px;
    margin: 0 auto;
}

.genre {
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* specified genres styling */
.genre.alternative {
    padding:2rem;
    background: #ffeeee;
    color: rgb(0, 0, 0);
}

.genre.pop {
    padding:2rem;
    background: #fcffee;
    color: rgb(0, 0, 0);
}

.genre.rock {
    padding:2rem;
    background: #eefff4;
    color: #000000;
}

.genre.soul {
    padding:2rem;
    background: #eef6ff;
    color: rgb(0, 0, 0);
}

.genre.hip-hop {
    padding:2rem;
    background: #f8eeff;
    color: #000000;
}

/* media adjustments for top genre section*/
@media (max-width: 992px) {
    .genres-grid {
        grid-template-columns: repeat(2, 1fr);
    }
    
    .genre.alternative,
    .genre.soul {
        grid-column: span 1;
    }
    
    .genre.pop,
    .genre.hip-hop {
        grid-row: span 1;
    }
}

@media (max-width: 576px) {
    .genres-grid {
        grid-template-columns: 1fr;
    }
    
    .genre {
        grid-column: 1 !important;
        grid-row: auto !important;
    }
}

/* 2024 compared to 2023 section */
.comparison {
    padding: 40px 20px;
    background-color:#eef2ff;
    text-align:center;
}

/* artists comparison section */
.artist-comp {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 300px;
    height: 500px;
    border-radius: 20px; 
    padding: 4px 8px;
}
  
.hmhas-img {
    border-radius: 20px 20px 0 0;
    border-radius: 50%;
    width: 100px; 
    height: 100px;
    object-fit: cover;
}

.robin-img {
    border-radius: 20px 20px 0 0;
    border-radius: 50%;
    width: 100px; 
    height: 100px;
    object-fit: cover;
}

/* songs comparison section */
.song-comp {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 300px;
    height: 500px;
    border-radius: 20px; 
    padding: 4px 8px;
}

.leith-img {
    width: 100px; 
    height: 100px;
    border-radius:10px;
}

.grace-img {
    width: 100px; 
    height: 100px;
    border-radius:10px;
}

/* ablum comparison section */
.album-comp {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 300px;
    height: 500px;
    border-radius: 20px; 
    padding: 4px 8px;
}

.eilish-img {
    width: 100px; 
    height: 100px;
    border-radius:10px;
}

.wall-img {
    width: 100px; 
    height: 100px;
    border-radius:10px;
}

.comp-grid {
    display: flex;
    flex-wrap:wrap;
    flex: 1 1;
    justify-content: center;
    text-align: center;
    gap: 15px;
    margin-bottom: 15px;
}

/* footer styling */
footer {
    text-align: center;
    padding: 20px;
    background:#000517;
    color: #ffffff;
}

/* citations link */
a:link {
    color: rgb(255, 255, 255);
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: rgb(255, 255, 255);
    background-color: transparent;
    text-decoration: none;
}
  
a:hover {
    color: #ffffff;
    background-color: transparent;
    text-decoration: underline;
  }
  
a:active {
    color: rgb(255, 255, 255);
    background-color: transparent;
    text-decoration: underline;
}